{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
</head>
<body>
    <div class="container-general">
        <div class="navbar">
            <header >
                <div class="titre">
                    <h1><img src="{% static 'img/logo.jpeg' %} "
                        width="50px"
                        height="50px"
                        class="logo">mon etab
                    </h1>    
                    
        
                </div>
                    
                <ul class="menu">
                    <li><a href=" {% url 'dashboard:index'%}" class="active"><a href="" alt=""><img src="logo.jpeg" alt="" class="logo">Dashboard</a></li>
                    <li><a href="{% url 'student:liststudent'%}"><i class="fas fa-book-reader"></i> Student</a></li>
                    <li><a href="{% url 'teacher:llistteacher'%}"><i class="fas fa-chalkboard-teacher" ></i> Teacher</a></li>
                    <li><a href="{% url 'user:listuser'%}"><i class="fas fa-user" ></i> User</a></li>
                    <li><a href="{% url 'repot:rappt'%}"><i class="fas fa-file-alt" ></i> Report</a></li>
                </ul>
                    <a href="{% url 'dashboard:login'%}" class="out"><i class="fas fa-sign-out-alt" ></i> Log-out</a>
            </header>
        </div>
        <div class="Tableau">
            <div class="container-table">
                <div class="table">
                    <div class="back">
                        <h5><a href="{% url 'dashboard:index'%}">back</a></h5>
        
                    </div>
                    <h2>Report </h2>
        
                    <div class="input-boite-2">
                        <select name="sexe" required class="champ-input">
                            <option value="">Choisir...</option>
                            <option value="homme">Liste des élèves</option>
                            <option value="femme">Liste des professeurs</option>
                            <option value="femme">Liste des utilisateurs</option>
                        </select>
                    </div>
        
                    <div class="btn">
                        <button type="submit" name="inscrire" class="annuler">Générer format pdf</button>
                        <button type="submit" name="enregistrer" class="inscrire">Générer format excel</button>
                    </div>
        
                </div>
            
    
        </div>
     </div>
          
    
</body>
</html>