
{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="{% static 'css/mystyles.css' %}">
    <title>connction</title>
</head>
<body>
<!--- BIENVENUE SUR LE FICHIER DE CONNEXION -->

    <div class="connexion">
        <div class="titre">
            <h1><img src="logo.jpeg" alt="" class="logo">mon etab</h1>

        </div>
        <div>
            <form action="{% url 'dashboard:index'%}" method="">
                <div class="formu">
                    <input type="text" placeholder="identifiant">
                </div>
                <div class="formu">
                    <input type="password" placeholder="mot de passe">
                </div>
                <div class="formu">
                    <input type="submit" value="connexion">
                    
                </div>
            </form>
        </div>

    </div>
</body>
</html>